<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
 
   
    	
  	<bean id="traceSourceC" class="com.jtang.controller.mobileservice.TraceSource">
  		<property name="storeRecordService" ref="storeRecordService"></property>
  	</bean>
    	
    <!-- end -->
    <!-- end -->
 </beans>