<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
	<style type="text/css">
		.message{
		    background-color:#eeeeee;
		    padding:10px;
		}
		.message h2{
		    margin-bottom:10px;
		}
		.message img{
		    float:left;
		    width:100px;
		}
		.message p,
		.message h2,
		.message h3{
		        padding-left:110px;
		}

	</style>
</head>

<body>
	<div class="portlet box green">		
		<div class="portlet-title">
			<h4><i class="icon-reorder"></i>消息详情</h4>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
			</div>
		</div>
		
		<div class="portlet-body">
        	<div class="row-fluid">     	
					  <div class="span12">
					    <div id="message-container">
					      <div class="message">
					          <img src="http://placehold.it/100x100" alt="" />
					        <h2 id="title"></h2>
					        <h3 class="time" id="send_time">10:00 A.M</h3>
					        <p id="msg_content"></p>
					      </div>
					    </div>
					  </div>		
        	</div> <!--the portlet body's Row fluid end -->
		</div> <!--portlet-body end -->
	</div>
</body>
<script type="text/javascript">

function drawMsg(data){
	jQuery("#title").text(data.title + "(From:"+data.fromWho+")");
	jQuery("#send_time").text(data.time);
	jQuery("#msg_content").text(data.content);
}

jQuery(function(){
	var msg = eval($!{message});
	drawMsg(msg);
});
</script>
</html>