<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
	<style >
		.location-active {
			background-color: green !important;
		}
    </style>
	<link href="$!request.getContextPath()/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="$!request.getContextPath()/public/css/metro.css" rel="stylesheet" />
	<link href="$!request.getContextPath()/public/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<link href="$!request.getContextPath()/public/css/style.css" rel="stylesheet" />
	<link href="$!request.getContextPath()/public/css/style_responsive.css" rel="stylesheet" />
	<link href="$!request.getContextPath()/public/css/style_light.css" rel="stylesheet" id="style_color" />
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="$!request.getContextPath()/public/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>

<body>
	<div class="portlet box green">
      <div class="portlet-title">
         <h4><i class="icon-reorder"></i>销售环节详情</h4>
      </div>
      <div class="portlet-body form">
         <!-- BEGIN FORM-->
         <form action="#" class="form-horizontal">
            <h3 class="form-section">销售信息</h3>
            <div class="row-fluid">
               <div class="span6 ">
                  <div class="control-group">
                     <label class="control-label">销售地区</label>
                     <div class="controls">
                        <input type="text" class="m-wrap span12" id="sale_place1" disabled="disabled">
                     </div>
                  </div>
               </div>
               <!--/span-->
               <div class="span6 ">
                  <div class="control-group">
                     <label class="control-label">销售超市</label>
                     <div class="controls">
                        <input type="text" class="m-wrap span12" id="sale_market1" disabled="disabled">
                     </div>
                  </div>
               </div>
               <!--/span-->
            </div>
            <!--/row-->
            <div class="row-fluid">
               <div class="span6 ">
                  <div class="control-group">
                     <label class="control-label">冰柜编号</label>
                     <div class="controls">
                        <input type="text" class="m-wrap span12" id="sale_freezer_number1" disabled="disabled">
                     </div>
                  </div>
               </div>
               <!--/span-->
               <div class="span6 ">
                  <div class="control-group">
                     <label class="control-label">上架时间</label>
                     <div class="controls">
                        <input type="text" class="m-wrap span12" id="sale_time1" disabled="disabled">
                     </div>
                  </div>
               </div>
               <!--/span-->
            </div>


            <h3 class="form-section">冰柜信息</h3>
            <div class="row-fluid">
               <div class="span12">
                     暂无信息
                  </div>
            </div>          
            <!--/row-->

            <h3 class="form-section">温度统计</h3>
            <div class="row-fluid">
               <div class="span12">
                     暂无信息
                  </div>
            </div>          
            <!--/row-->

         </form>
         <!-- END FORM-->                
      </div>
   </div>
</body>
<script type="text/javascript">
function handleSaleRecord(sr){
   jQuery("#sale_market1").val(sr.saleMarket);
   jQuery("#sale_place1").val(sr.salePlace);
   jQuery("#sale_time1").val(sr.saleTime);
   jQuery("#sale_freezer_number1").val(sr.freezerNumber);
}

jQuery(function(jQuery) {
   var sr = eval($!{saleInfo});
   handleSaleRecord(sr);
});
</script>
</html>